<div>
    <div class="text-center m-5">
        <h1>Welcome to the Receipts application!</h1>
    </div>
    <div class="m-2">
        <p>
            If you are a new user, please register first. If you already have an account, please log in.
        </p>
    </div>
    <div class="m-2">
        This application allows you to create receipts, edit them, delete them, and view them. You can also create
        groups with other users in which you can share receipts, display how much each user owes one another. This
        creates a very convenient way to split bills with friends, flatmates and family.
    </div>
</div>

